<!doctype html>
<!--[if IE 8]><html class="ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html class="ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="assets/images/icon/logo.png" />
        <link href="Assets/Css/fontawesome-all.css" rel="stylesheet">
        <link href="Assets/Css/bootstrap.min.css" rel="stylesheet">
        <link href="Assets/Css/mdb.min.css" rel="stylesheet">
        <link href="Assets/Css/jquery.notify.css" rel="stylesheet">
    <link rel="stylesheet" href="Assets/Css/test.css">
    <link rel="stylesheet" href="Assets/Css/index.css">
    <title>{{ user.pseudo|capitalize }}</title>
    <style>
      .slideout-menu { left: auto; }
      .btn-hamburger { left: auto; right: 12px;}
    </style>
  </head>
  <body>

    <main id="panel" class="panel">
      <header class="panel-header">
<ul>
          <li><a href="/profil"> Profil</a></li>
          <li><a href="/">Accueil</a></li>
          <li><a href="/classe">Classement</a></li>
        </ul> 
      </header>
      <video src="Assets/videos/{{ random(['1', '2', '3', '4']) }}.mp4" class="ele" autoplay muted loop></video>

      <section class="box" style="background: url(Assets/images/Profil/{{ random(['8.png', '6.jpg', '5.png', '35.png', '33.png', '8.png', '22.gif', '09.gif', '02.gif', '005.gif', '07.gif', '88.gif'  ]) }}) no-repeat; background-size: cover;">
        <div class="content">
          <div class="titles">
          <ul class="EleQuiz">
          <li>
            <h2>
            {{ info.title }}
            <h2>
          </li>

          <li class="descDate">
            {{ info.end|date('d/m/Y H:i') }}
          </li>
          </ul>
          </div>
          <div class="enter">
          <a href="/ownL/{{ info.crypt }}" class="btn">Entrer
          </a>
          </div>
        </div>
      </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="Assets/Js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="Assets/Js/fontawesome-all.js"></script>
      <script type="text/javascript" src="Assets/Js/jquery.notify.js"></script>
      <script type="text/javascript" src="Assets/Js/popper.min.js"></script>
      <script type="text/javascript" src="Assets/Js/bootstrap.min.js"></script>
      <script type="text/javascript" src="Assets/Js/mdb.min.js"></script>
      <script type="text/javascript" src="Assets/Js/s.js"></script>
    
  </body>
</html>